<div class="pokemonmove-container">
  <div class="pokemon-container__wrapper">
    <div class="combattext-container">
      <p>
        <span class="pokemon-name" *ngIf="pokemon">{{ pokemon.name }}</span> is
        attacking with
        <span class="pokemonmove-name" *ngIf="move">{{ move.name }}</span> of
        type
        <span
          class="pokemon-types__chip pokemon-types__chip-{{ move.type }}"
          *ngIf="move"
          >{{ move.type.name }}</span
        >
      </p>
    </div>
    <div class="decisions-container">
      <div class="decisions">
        <button
          class="button decisions_button"
          (click)="guessEffectiveness(TypeEffectiveness.SuperEffective)">
          Super effective
        </button>
        <button
          class="button decisions_button"
          (click)="guessEffectiveness(TypeEffectiveness.Effective)">
          Effective
        </button>
        <button
          class="button decisions_button"
          (click)="guessEffectiveness(TypeEffectiveness.NotVeryEffective)">
          Not very effective
        </button>
        <button
          class="button decisions_button"
          (click)="guessEffectiveness(TypeEffectiveness.NoEffect)">
          No effect
        </button>
      </div>
    </div>
  </div>
</div>
