$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
) !default;

$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$normal: #a8a77a !default;
$fire: #ee8130 !default;
$water: #6390f0 !default;
$electric: #f7d02c !default;
$grass: #7ac74c !default;
$ice: #96d9d6 !default;
$fighting: #c22e28 !default;
$poison: #a33ea1 !default;
$ground: #e2bf65 !default;
$flying: #a98ff3 !default;
$psychic: #f95587 !default;
$bug: #a6b91a !default;
$rock: #b6a136 !default;
$ghost: #735797 !default;
$dragon: #6f35fc !default;
$dark: #705746 !default;
$steel: #b7b7ce !default;
$fairy: #d685ad !default;

$type-colors: (
  'normal': $normal,
  'fire': $fire,
  'water': $water,
  'electric': $electric,
  'grass': $grass,
  'ice': $ice,
  'fighting': $fighting,
  'poison': $poison,
  'ground': $ground,
  'flying': $flying,
  'psychic': $psychic,
  'bug': $bug,
  'rock': $rock,
  'ghost': $ghost,
  'dragon': $dragon,
  'dark': $dark,
  'steel': $steel,
  'fairy': $fairy,
) !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$border-width: 1px !default;
