<div class="main-container">
  <!-- todo: score component -->
  <app-roundscore></app-roundscore>
  <app-highscore></app-highscore>
  <div class="gameboard">
    <app-pokemon [pokemon]="pokemon" *ngIf="pokemon"></app-pokemon>
    <app-pokemontype [type]="type" *ngIf="type"></app-pokemontype>

    <div class="decisions">
      <button class="button decisions_button" (click)="fight(TypeEffectiveness.SuperEffective)">Super effective</button>
      <button class="button decisions_button" (click)="fight(TypeEffectiveness.Effective)">Effective</button>
      <button class="button decisions_button" (click)="fight(TypeEffectiveness.NotVeryEffective)">Not very effective</button>
      <button class="button decisions_button" (click)="fight(TypeEffectiveness.NoEffect)">No effect</button>
    </div>
  </div>
</div>